
/************************Slider***************************/
#slider {
    position: relative;
    width: 100%;
    height: 700px;
}
.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slide img {
    width: 100%;
    height: 100%;
}
.slide.active {
    display: block;
}
.text-slider {
    padding: 15px 15px 15px 15px;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 30%;
    left: 15%;
    color: white;
}
#cmd-right {
    right: -1.5em;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#cmd-left {
    left: -1.5em;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
#conteneur-diapo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#commandes {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 88px;
    top: 260px;
}
.chevron {
    content: '';
    display: inline-block;
    border-style: solid;
    border-width: 0.3em 0.3em 0 0;
    height: 25px;
    width: 25px;
    color: #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);    
}
.chevron.next {
    float: right;
    transform: rotate(45deg);
}
.chevron.previous {
    float: left;
}
.next, .previous {
    position: absolute;
    height: 2.5em;
    width: 5.5em;
    border-radius: 50%/ 100% 100% 0 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.button > #cmd-pause{
    bottom: 0;
    left: 48%;
    position: absolute;
    padding: 3px 20px 3px 20px;
    box-sizing: border-box;
	display: block;
	width: 70px;
	height: 70px;
	padding-top: 22px;
	padding-left: 20px;
	line-height: 20px;
	border: 2px solid #fff;
	border-radius: 50%;
	color:#f5f5f5;
	text-align: center;
	text-decoration: none;
	background-color: rgba(0,0,0,0.5);
    font-size: 30px;
	font-weight: bold;
	transition: all 0.3s ease;
}
.button:hover {
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px rgba(255,255,100,1);
	text-shadow: 0px 0px 10px rgba(255,255,100,1);
}
/****************************Maps*********************************/
#leaflet {
    height: 500px; 
}

/******************form ******************/

/************** makerCluster *****************/ 
.mycluster {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #3498db;
    color: white;
    text-align: center;
    font-size: 20px;    
    line-height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}
.cluster {
    background: #3498db;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: 700;
    border: 1px solid #3498db;
    font-family: monospace;
}
.cluster:before {
    content: ' ';
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 1px solid white;
}
.digits-1 {
    font-size: 14px;
    height: 28px;
    width: 28px;
    line-height: 28px;
    margin-top: -14px;
    margin-left: -14px;
}
.digits-2 {
    font-size: 16px;
    height: 34px;
    width: 34px;
    line-height: 35px;
    margin-top: -17px;
    margin-left: -17px;
}
.digits-2:before {
    border-width: 2px;
}
.digits-3 {
    font-size: 18px;
    height: 48px;
    width: 47px;
    line-height: 47px;
    border-width: 3px;
    margin-top: -24px;
    margin-left: -24px;
}
.digits-3:before {
    border-width: 3px;
}
.digits-4 {
    font-size: 18px;
    height: 58px;
    width: 58px;
    line-height: 57px;
    border-width: 4px;
    margin-top: -29px;
    margin-left: -29px;
}
.digits-4:before {
    border-width: 4px;
}