
/************************Slider***************************/
#slider {
    position: relative;
    width: 100%;
    height: 700px;
}
.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slide img {
    width: 100%;
    height: 100%;
}
.slide.active {
    display: block;
}
#cmd-right {
    right: -1.5em;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#cmd-left {
    left: -1.5em;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
#conteneur-diapo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#commandes {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 88px;
    top: 260px;
}
.chevron {
    content: '';
    display: inline-block;
    border-style: solid;
    border-width: 0.3em 0.3em 0 0;
    height: 25px;
    width: 25px;
    color: #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);    
}
.chevron.next {
    float: right;
    transform: rotate(45deg);
}
.chevron.previous {
    float: left;
}
.next, .previous {
    position: absolute;
    height: 2.5em;
    width: 5.5em;
    border-radius: 50%/ 100% 100% 0 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.button > #cmd-pause{
    bottom: 0;
    left: 48%;
    position: absolute;
    padding: 3px 20px 3px 20px;
    box-sizing: border-box;
	display: block;
	width: 70px;
	height: 70px;
	padding-top: 22px;
	padding-left: 20px;
	line-height: 20px;
	border: 2px solid #fff;
	border-radius: 50%;
	color:#f5f5f5;
	text-align: center;
	text-decoration: none;
	background-color: rgba(0,0,0,0.5);
    font-size: 30px;
	font-weight: bold;
	transition: all 0.3s ease;
}
body {
	background-color: #666;	
}
.button:hover {
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px rgba(255,255,100,1);
	text-shadow: 0px 0px 10px rgba(255,255,100,1);
}
/****************************Maps*********************************/
#leaflet {
    height: 500px; 
}
.container {
    margin-left: 30px; 
}
